@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

#header {
    height: 100vh;

}

#img-topo {
    width: 99vw;
    height: 100vh;
    position: absolute;

}

.text {
    text-align: center;
    padding-top: 40px;
    position: relative;
    font-size: 25px;
}

.text h1 {
    color: #fff;
}

.text p {
    color: #fff;
}

/* primeira seção */
main {
    display: flex;
    flex-direction: column;
}

.first-section {
    width: 100%;
    display: flex;
    background-color: rgb(85, 84, 84);
    color: #fff;
    align-content: space-around;


}

.item-first-section {
    max-width: 33.3%;
    padding: 3%;
    justify-content: center;
}

.item-first-section img {
    width: 300px;
    height: 180px;
    border: 10px solid rgb(153, 152, 152);
    justify-items: center;
    margin-left: 4%;
}

.item-first-section h4 {
    padding-top: 20px;
    text-align: center;
}

.item-first-section p {
    text-align: center;
    padding: 3%;
}

/* Segunda seção */

.second-section {
    display: flex;
    height: 47vh;
    background-color: rgb(153, 147, 147);
    align-content: center;
    padding: 5%;
     
}

#second-section-image {
    width: 35%;
}

.second-section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-items: center;
    border: 12px solid rgb(58, 58, 58);
}

#second-section-text {
    width: 50%;
    margin-bottom: 40px;
    color: #fff;
}

#second-section-text h2 {
    padding-bottom: 10px;
}

.second-section img {
    margin-left: 3%;
}

#second-section-text p {
    margin-bottom: 15px;
}

/* Rodape */

#rodape{
    background-color: rgb(90, 90, 90);
    color: #fff;
    font-size: 35px;
text-align: center;
}
#rodape p{
    padding: 20px;
}